* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

/* Game styles */
.game-page {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: center; */
  align-items: center;


  padding: 2rem;
  min-height: 100vh;
  background: #EEEEEE;
}

.game, .rule {
  position: relative;
  display: inline-block;
  color: white;
  text-align: center;
  margin-left: 100px;
}

.rule {
  opacity: 0.6;
  color: #333;
}

.rule p {
  text-align: left;
  margin-top: 30px;
}

.chalk-board {
  position: relative;
}

.chalk-board .name-player-1 {
  position: absolute;
  left: 1vw;
  top: 2vh;
  text-align: left;
}

.chalk-board .name-player-1__title, .chalk-board .name-player-2__title {
  font-weight: bold;
  margin-bottom: .4vh;
}

.chalk-board .name-player-1__title {
  color: #8EEB90;
}

.chalk-board .name-player-2__title {
  color: #EA442B;
  
}

.chalk-board .name-player-2 {
  position: absolute;
  right: 1vw;
  top: 2vh;
  text-align: left;
}

.game .chalk-board{
  width: 600px;
  height: 420px;
  background-color: rgb(53, 53, 78);
  border-radius: 9px;
  /* margin-left: 20%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game .overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 32px;
  padding-top: 2vh;
}

.game .game-details {
  margin-top: 8px;
}

.game .board-cells-list {
  display: flex;
  flex-flow: row wrap;
  margin: 8px auto 0 auto;
  margin-top: 22px;
  width: 400px;
  border-radius: 5px;
}

/* Board cell */
.game .board-cells-list > li {
  position: relative;
  width: 33.333333%;
  height: 86px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.game .board-cells-list > li.win {
  background: rgba(255, 255, 255, 0.4);
}

/* Add hover effect on cell hover */
.game .board-cells-list > li:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}

/* Remove hover effect if cell already clicked */
.game .board-cells-list > li:hover.cross,
.game .board-cells-list > li:hover.circle {
  background: transparent;
  cursor: default;
}

.game .board-cells-list > li:not(:nth-child(3n)) {
  border-right: none;
}

.game .board-cells-list > li:nth-child(-n + 6) {
  border-bottom: none;
}

.game .board-cells-list > li.cross::before,
.game .board-cells-list > li.circle::before {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: 1.5rem;
  font-weight: bold;
}

.game .game-details .current-turn {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.game .game-details .current-turn .cross::before,
.game .game-details .current-turn .circle::before {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.game .board-cells-list > li.cross::before,
.game .game-details .current-turn .cross::before {
  content: "X";
  color: lightgreen;
}

.game .board-cells-list > li.circle::before,
.game .game-details .current-turn .circle::before {
  content: "O";
  color: red;
}

.game-replay {
  display: none;
  position: absolute;
  top: 171px;
  left: 33%;
  right: 50%;
  background: #936cd2;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}
.game-replay p{
  margin-bottom: 11px;
}

.game-replay.show {
  display: block;
}

.game-replay > button {
  border: none;
  box-shadow: none;
  background: white;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: bold;
  margin-top: 4px;
  cursor: pointer;
}

button {

  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.log-out, .out-room {
  position: absolute;
  top: 0;
  right: 30px;
  border-radius: 5px;
  width: auto;
  padding: 10px 18px;
  background-color: #f53c2f;
  color: white;
}

.out-room {
  left: 30px;
  background-color: #756d48;
}

.room-name {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
}